# Code for Titanic Laboratory in Kaggle using Python

This code is using Python in manipulating data from kaggle.com - Titanic Conpetition. This includes adding new variables, splitting strings (Name Column), Checking for correlation, using machine learning functions of your choice including making manual ensemble and lastly writing the result into csv.

### Changing Directory

In [2]:
cd \\C:\Joy\Profile\Documents

\\C:\Joy\Profile\Documents

In [3]:
import pandas as pd
train=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")

In [4]:
trainX= train.drop('Survived',1)
trainY= train["Survived"]
testY= test["PassengerId"]

In [68]:
set(train.Cabin)

{nan,
 'A10',
 'A14',
 'A16',
 'A19',
 'A20',
 'A23',
 'A24',
 'A26',
 'A31',
 'A32',
 'A34',
 'A36',
 'A5',
 'A6',
 'A7',
 'B101',
 'B102',
 'B18',
 'B19',
 'B20',
 'B22',
 'B28',
 'B3',
 'B30',
 'B35',
 'B37',
 'B38',
 'B39',
 'B4',
 'B41',
 'B42',
 'B49',
 'B5',
 'B50',
 'B51 B53 B55',
 'B57 B59 B63 B66',
 'B58 B60',
 'B69',
 'B71',
 'B73',
 'B77',
 'B78',
 'B79',
 'B80',
 'B82 B84',
 'B86',
 'B94',
 'B96 B98',
 'C101',
 'C103',
 'C104',
 'C106',
 'C110',
 'C111',
 'C118',
 'C123',
 'C124',
 'C125',
 'C126',
 'C128',
 'C148',
 'C2',
 'C22 C26',
 'C23 C25 C27',
 'C30',
 'C32',
 'C45',
 'C46',
 'C47',
 'C49',
 'C50',
 'C52',
 'C54',
 'C62 C64',
 'C65',
 'C68',
 'C7',
 'C70',
 'C78',
 'C82',
 'C83',
 'C85',
 'C86',
 'C87',
 'C90',
 'C91',
 'C92',
 'C93',
 'C95',
 'C99',
 'D',
 'D10 D12',
 'D11',
 'D15',
 'D17',
 'D19',
 'D20',
 'D21',
 'D26',
 'D28',
 'D30',
 'D33',
 'D35',
 'D36',
 'D37',
 'D45',
 'D46',
 'D47',
 'D48',
 'D49',
 'D50',
 'D56',
 'D6',
 'D7',
 'D9',
 'E10',
 'E101',
 'E12',
 'E121',
 'E17',
 'E24',
 'E25',
 'E31',
 'E33',
 'E34',
 'E36',
 'E38',
 'E40',
 'E44',
 'E46',
 'E49',
 'E50',
 'E58',
 'E63',
 'E67',
 'E68',
 'E77',
 'E8',
 'F E69',
 'F G63',
 'F G73',
 'F2',
 'F33',
 'F38',
 'F4',
 'G6',
 'T'}

In [69]:
train[0:20]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,bisex,children,old,gchildren,mr,title,Emb,Fam
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S,1,0,0,1,Mr.,0.160,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C,0,0,0,0,Mrs.,0.800,1,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S,0,0,0,0,Miss.,0.700,0,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S,0,0,0,0,Mrs.,0.800,0,1
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S,1,0,0,1,Mr.,0.160,0,0
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,1,0,0,1,Mr.,0.160,2,0
6,7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S,1,0,0,1,Mr.,0.160,0,0
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.0750,NaN,S,1,1,0,2,Master.,0.575,0,4
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,NaN,S,0,0,0,0,Mrs.,0.800,0,2
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,NaN,C,0,1,0,1,Mrs.,0.800,1,1
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4,1,1,PP 9549,16.7000,G6,S,0,1,0,1,Miss.,0.700,0,2
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58,0,0,113783,26.5500,C103,S,0,0,0,0,Miss.,0.700,0,0
12,13,0,3,"Saundercock, Mr. William Henry",male,20,0,0,A/5. 2151,8.0500,NaN,S,1,0,0,1,Mr.,0.160,0,0
13,14,0,3,"Andersson, Mr. Anders Johan",male,39,1,5,347082,31.2750,NaN,S,1,0,0,1,Mr.,0.160,0,6
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14,0,0,350406,7.8542,NaN,S,0,1,0,1,Miss.,0.700,0,0
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55,0,0,248706,16.0000,NaN,S,0,0,0,0,Mrs.,0.800,0,0
16,17,0,3,"Rice, Master. Eugene",male,2,4,1,382652,29.1250,NaN,Q,1,1,0,2,Master.,0.575,2,5
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,1,0,0,1,Mr.,0.160,0,0
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31,1,0,345763,18.0000,NaN,S,0,0,0,0,"Planke,",0.000,0,1
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,0,0,0,0,Mrs.,0.800,1,0

### Adding Variables

In [6]:
train['bisex']= (train['Sex']== 'male').astype('int')
train['children']= (train['Age']<=16 ).astype('int')
train['old']= (train['Age']>=60).astype('int')
train['gchildren']=train['bisex']+train['children']

In [7]:
test['bisex']= (test['Sex']== 'male').astype('int')
test['children']= (test['Age']<=16).astype('int')
test['old']= (test['Age']>=60).astype('int')
test['gchildren']=test['bisex']+test['children']

In [8]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,bisex,children,old,gchildren
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S,1,0,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C,0,0,0,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S,0,0,0,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S,0,0,0,0
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S,1,0,0,1

In [9]:
#Separate the Names/Titles
b=(train['Name']).str.split().tolist()
Mr=[]
for i in range(len(b)):#[1]
    Mr.append(b[i][1])
train['mr']=Mr

In [10]:
print sum(train[train.mr== 'Mme.'].Survived)*1.0/len(train[train.mr== 'Mme.'].Survived)
print sum(train[train.mr== 'Mrs.'].Survived)*1.0/len(train[train.mr== 'Mrs.'].Survived)
print sum(train[train.mr== 'Miss.'].Survived)*1.0/len(train[train.mr== 'Miss.'].Survived)
print sum(train[train.mr== 'Master.'].Survived)*1.0/len(train[train.mr== 'Master.'].Survived)
print sum(train[train.mr== 'Col.'].Survived)*1.0/len(train[train.mr== 'Col.'].Survived)
print sum(train[train.mr== 'Major.'].Survived)*1.0/len(train[train.mr== 'Major.'].Survived)
print sum(train[train.mr== 'Dr.'].Survived)*1.0/len(train[train.mr== 'Dr.'].Survived)
print sum(train[train.mr== 'Mr.'].Survived)*1.0/len(train[train.mr== 'Mr.'].Survived)

#print sum(train[train.mr== 'Rev.'].Survived)*1.0/len(train[train.mr== 'Rev.'].Survived)
#print sum(train[train.mr== 'Capt.'].Survived)*1.0/len(train[train.mr== 'Capt.'].Survived)
#print sum(train[train.mr== 'Don.'].Survived)*100.0/len(train[train.mr== 'Don.'].Survived)

1.0
0.801652892562
0.703910614525
0.575
0.5
0.5
0.428571428571
0.157370517928

In [11]:
train.loc[train.mr != 'Mr.', 'title'] = 0
train.loc[train.mr == 'Mme.', 'title'] = 1.0
train.loc[train.mr == 'Mrs.', 'title'] = .80
train.loc[train.mr == 'Miss.', 'title'] = .70

train.loc[train.mr == 'Master.', 'title'] = .575
train.loc[train.mr == 'Col.', 'title'] = .5
train.loc[train.mr == 'Major.', 'title'] = .5
train.loc[train.mr == 'Dr.', 'title'] = .43
train.loc[train.mr == 'Mr.', 'title'] = .16

In [12]:
bt=(test['Name']).str.split().tolist()
Mrtest=[]
for i in range(len(bt)):#[1]
    Mrtest.append(bt[i][1])
test['mr']=Mrtest

In [13]:
test.loc[test.mr != 'Mr.', 'title'] = 0
test.loc[test.mr == 'Mme.', 'title'] = 1.0
test.loc[test.mr == 'Mrs.', 'title'] = .80
test.loc[test.mr == 'Miss.', 'title'] = .70

test.loc[test.mr == 'Master.', 'title'] = .575
test.loc[test.mr == 'Col.', 'title'] = .5
test.loc[test.mr == 'Major.', 'title'] = .5
test.loc[test.mr == 'Dr.', 'title'] = .43
test.loc[test.mr == 'Mr.', 'title'] = .16

In [14]:
train[train.Survived==0].to_csv('Dead_train.csv')

In [15]:
train.loc[train.Embarked == 'S', 'Emb'] = 0
train.loc[train.Embarked == 'C', 'Emb'] = 1
train.loc[train.Embarked == 'Q', 'Emb'] = 2
test.loc[test.Embarked == 'S', 'Emb'] = 0
test.loc[test.Embarked == 'C', 'Emb'] = 1
test.loc[test.Embarked == 'Q', 'Emb'] = 2

In [16]:
#df['Prediction'] = ((df['Sex']=='female') | ((df['Pclass']==1) & (df['Age']<18))).astype('int')
#w.loc[w.female != 'female', 'female'] = 0
train['Fam']=train['SibSp'] + train['Parch']

In [17]:
train.columns

Index([u'PassengerId', u'Survived', u'Pclass', u'Name', u'Sex', u'Age',
       u'SibSp', u'Parch', u'Ticket', u'Fare', u'Cabin', u'Embarked', u'bisex',
       u'children', u'old', u'gchildren', u'mr', u'title', u'Emb', u'Fam'],
      dtype='object')

In [18]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,bisex,children,old,gchildren,mr,title,Emb,Fam
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S,1,0,0,1,Mr.,0.16,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C,0,0,0,0,Mrs.,0.80,1,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S,0,0,0,0,Miss.,0.70,0,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S,0,0,0,0,Mrs.,0.80,0,1
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S,1,0,0,1,Mr.,0.16,0,0

### Check for correlation of Variables

In [78]:
atrain=train[['Survived','Fam','Pclass', 'Age','SibSp', 'Parch', 'Fare', 'Emb','bisex','children','old','gchildren','title']]

In [79]:
atrain.head()

,Survived,Fam,Pclass,Age,SibSp,Parch,Fare,Emb,bisex,children,old,gchildren,title
0,0,1,3,22,1,0,7.2500,0,1,0,0,1,0.16
1,1,1,1,38,1,0,71.2833,1,0,0,0,0,0.80
2,1,0,3,26,0,0,7.9250,0,0,0,0,0,0.70
3,1,1,1,35,1,0,53.1000,0,0,0,0,0,0.80
4,0,0,3,35,0,0,8.0500,0,1,0,0,1,0.16

In [80]:
pd.DataFrame(atrain).corr()

,Survived,Fam,Pclass,Age,SibSp,Parch,Fare,Emb,bisex,children,old,gchildren,title
Survived,1.000000,0.016639,-0.338481,-0.077221,-0.035322,0.081629,0.257307,0.108669,-0.543351,0.121485,-0.040857,-0.405952,0.552878
Fam,0.016639,1.000000,0.065997,-0.301914,0.890712,0.783111,0.217138,-0.081057,-0.200988,0.398080,-0.039365,0.054388,0.314903
Pclass,-0.338481,0.065997,1.000000,-0.369226,0.083081,0.018443,-0.549500,0.043835,0.131900,0.128232,-0.159798,0.189904,-0.115848
Age,-0.077221,-0.301914,-0.369226,1.000000,-0.308247,-0.189119,0.096067,0.012186,0.093254,-0.603069,0.474027,-0.291732,-0.177921
SibSp,-0.035322,0.890712,0.083081,-0.308247,1.000000,0.414838,0.159651,-0.060606,-0.114631,0.337773,-0.045971,0.095160,0.214717
Parch,0.081629,0.783111,0.018443,-0.189119,0.414838,1.000000,0.216225,-0.079320,-0.245489,0.334728,-0.015904,-0.021318,0.336584
Fare,0.257307,0.217138,-0.549500,0.096067,0.159651,0.216225,1.000000,0.063462,-0.182333,-0.004405,0.039319,-0.162391,0.183248
Emb,0.108669,-0.081057,0.043835,0.012186,-0.060606,-0.079320,0.063462,1.000000,-0.118593,-0.018033,-0.000590,-0.114441,0.101788
bisex,-0.543351,-0.200988,0.131900,0.093254,-0.114631,-0.245489,-0.182333,-0.118593,1.000000,-0.102403,0.072063,0.817317,-0.886788
children,0.121485,0.398080,0.128232,-0.603069,0.337773,0.334728,-0.004405,-0.018033,-0.102403,1.000000,-0.061644,0.489463,0.243729
old,-0.040857,-0.039365,-0.159798,0.474027,-0.045971,-0.015904,0.039319,-0.000590,0.072063,-0.061644,1.000000,0.027466,-0.071487
gchildren,-0.405952,0.054388,0.189904,-0.291732,0.095160,-0.021318,-0.162391,-0.114441,0.817317,0.489463,0.027466,1.000000,-0.636211
title,0.552878,0.314903,-0.115848,-0.177921,0.214717,0.336584,0.183248,0.101788,-0.886788,0.243729,-0.071487,-0.636211,1.000000

In [20]:
atrain.columns

Index([u'Survived', u'Pclass', u'Age', u'SibSp', u'Parch', u'Fare', u'Emb',
       u'bisex', u'children', u'old', u'gchildren', u'title'],
      dtype='object')

In [49]:
set(atrain.Emb)

{0.0, 1.0, 2.0, nan, nan}

In [50]:
at2=train[['Pclass', 'SibSp', 'Parch', 'Fare', 'bisex','children','old','gchildren','title']]
atest2=atrain[['Survived']]

In [51]:

# Recursive Feature Elimination
from sklearn import datasets
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
# load the iris datasets
dataset = datasets.load_iris()
# create a base classifier used to evaluate a subset of attributes
model = LogisticRegression()
# create the RFE model and select 3 attributes
rfe = RFE(model, 3)
rfe = rfe.fit(at2, atest2)
# summarize the selection of the attributes
print(rfe.support_)
print(rfe.ranking_)

[ True False False False  True False False False  True]
[1 4 5 7 1 2 3 6 1]

C:\Users\136474\AppData\Local\Continuum\Anaconda\lib\site-packages\sklearn\utils\validation.py:449: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [52]:
from scipy import stats
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.datasets import load_iris
iris = load_iris()

fs = ExtraTreesClassifier()
X_new = fs.fit(at2, atest2).transform(at2)
fs.feature_importances_  

#atrain[['Survived','Pclass',  'bisex', 'gchildren','title','Fare']].corr()
#'Pclass', 'SibSp', 'Parch', 'Fare', 'bisex','children','old','gchildren','title'

C:\Users\136474\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

array([ 0.13256184,  0.06884957,  0.03835074,  0.31969507,  0.20920421,
        0.01146408,  0.00639881,  0.10373704,  0.10973865])

### Chosen Variables

In [66]:
trainX1=train[['Pclass','title','bisex','gchildren']]
testX1=test[['Pclass','title','bisex','gchildren']]

In [67]:
trainX1.head()

   Pclass  title  bisex  gchildren
0       3   0.16      1          1
1       1   0.80      0          0
2       3   0.70      0          0
3       1   0.80      0          0
4       3   0.16      1          1

In [57]:
import numpy as np
np.mean(testX1.Fare)

35.6271884892086

In [58]:
testX1.Fare[152]=np.mean(testX1.Fare)

C:\Users\136474\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [59]:
testX1.Fare[152]

35.627188489208599

# Machine Learning

In [60]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=2000)
rf.fit(trainX1, trainY)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=2000, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [167]:
from sklearn import linear_model
lin= linear_model.LogisticRegression(C=1e5)
lin.fit(trainX1, trainY)

LogisticRegression(C=100000.0, class_weight=None, dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='ovr', penalty='l2', random_state=None,
          solver='liblinear', tol=0.0001, verbose=0)

In [169]:
from sklearn import linear_model
sgd = linear_model.SGDClassifier()
sgd.fit(trainX1, trainY)

SGDClassifier(alpha=0.0001, average=False, class_weight=None, epsilon=0.1,
       eta0=0.0, fit_intercept=True, l1_ratio=0.15,
       learning_rate='optimal', loss='hinge', n_iter=5, n_jobs=1,
       penalty='l2', power_t=0.5, random_state=None, shuffle=True,
       verbose=0, warm_start=False)

# Other Machine Learning functions

In [141]:

from sklearn.neighbors.nearest_centroid import NearestCentroid
import numpy as np
clf = NearestCentroid()
clf.fit(trainX1, trainY)

NearestCentroid(metric='euclidean', shrink_threshold=None)

In [142]:
from sklearn import svm
sv = NearestCentroid()
sv.fit(trainX1, trainY)

NearestCentroid(metric='euclidean', shrink_threshold=None)

In [284]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(trainX1, trainY)

GaussianNB()

In [308]:
from sklearn import tree

tree = tree.DecisionTreeClassifier()
clf = tree.fit(trainX1, trainY)

# Predict

### Ensemble

In [170]:
res_log=lin.predict(testX1)
res_rf=rf.predict(testX1)
res_km=sgd.predict(testX1)

In [171]:
Res=pd.DataFrame(test["PassengerId"])
Res.columns=['PassengerId']
Res['Survived_log']=res_log
Res['Survived_rf']=res_rf
Res['Survived_km']=res_km

In [172]:
Res['Add']=Res['Survived_log']+Res['Survived_rf']+Res['Survived_km']
Res.loc[Res.Add >=2, 'Ens'] = 1
Res.loc[Res.Add<2, 'Ens'] = 0

In [173]:
Res.head()

   PassengerId  Survived_log  Survived_rf  Survived_km  Add  Ens
0          892             0            0            0    0    0
1          893             1            1            1    3    1
2          894             0            0            0    0    0
3          895             0            0            0    0    0
4          896             1            1            1    3    1

In [174]:
sum(Res.Ens)*1.0/len(Res.Ens)*100.0

37.559808612440193

In [177]:
Final_Ens=pd.DataFrame(test["PassengerId"])
Final_Ens.columns=['PassengerId']
Final_Ens['Survived']=Res.Ens

In [178]:
Final_Ens.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

### One model

In [61]:
res_rf=rf.predict(testX1)

In [62]:
Res=pd.DataFrame(test["PassengerId"])
Res.columns=['PassengerId']
Res['Survived']=res_rf

In [63]:
sum(res_rf)*1.0/len(res_rf)*100.0

35.406698564593306

In [64]:
sum(res_rf)

148

# Write - Given the actual percentage of Titanic Tragedy Survivors = 31.6%

In [65]:
Res.to_csv('rf_2var.csv')